body {
  font-family: Sans-Serif;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; 
  height: 100vh;
  width: 100vw;
}

#root {
  height: 99%;
  width: 99%;
}

.menu {
  position: fixed;
  background: grey;
  color: white;
  display: flex;
  visibility: hidden;
  padding: 2rem;
  text-align: center;
}

.menu th, .menu td {
  padding: 0.3rem 1rem;
}

.dot {
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
}